CONFIG_ARCH="sim"
CONFIG_ARCH_BOARD="sim"
CONFIG_ARCH_BOARD_SIM=y
CONFIG_ARCH_CHIP="sim"
CONFIG_ARCH_SIM=y
CONFIG_BOARD_LATE_INITIALIZE=y
CONFIG_DRIVERS_VIDEO=y
CONFIG_EXAMPLES_DIRECTFB=y
CONFIG_GRAPHICS_DIRECTFB2=y
CONFIG_INIT_ENTRYPOINT="directfb_main"
CONFIG_PTHREAD_CLEANUP=y
CONFIG_PTHREAD_MUTEX_TYPES=y
CONFIG_SIM_FBHEIGHT=480
CONFIG_SIM_FBWIDTH=640
CONFIG_SIM_X11FB=y
CONFIG_VIDEO_FB=y
